@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Baloo Bhai 2";
}

body {
    background-color: #000;
    /* background-image: url(image.png);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh ;
    

}

.container {
    width: 300px;
    height: 450px;
    padding: 50px;
    background-color: #000;
    border-radius: 30px;
    background-color: #000;
    box-shadow: 0px 0px 50px blue;


}



h1 {
    position: relative;
    bottom: 20px;
    margin: 20px;
    text-align: center;
    color: white;
    font-size: 25px;



}

.number {
    border: 3px solid white;
    border-radius: 30px;
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
    
}
.number label{
    position: absolute;
    font-size: 20px;
    left: 20px;
    color: white;
    pointer-events: none;
    transition: .4s;
}

.number input{
    border: none;
    background:transparent;
    font-size: 20px;
    color: white;
    outline: none;
}

.number input:focus+label,
.number input:valid+label{
    top: 2px;
    font-size: 12px;
    font-weight: 600;
}

.pass {
    margin-top: 12px;
    border: 3px solid white;
    border-radius: 30px;
    padding: 20px;
    position: relative;

}

.pass label{
    position: absolute;
    font-size: 20px;
    left: 20px;
    color: white;
    pointer-events: none;
    transition: .4s;
}

.pass input{
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 20px;

}

.pass input:focus+label,
.pass input:valid+label{
    top: 2px;
    font-size: 12px;
    font-weight: 600;
}


.fog{
    display: flex;
    justify-content: space-between ;

    margin-top: 25px;


}

.fog input{
    margin-left: 10px;
    width: 15px;
    accent-color: yellow;
    
    
}

.fog label{
    margin-right: 30px;
    font-size: 16px;
    color: white;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: rgb(250, 249, 249);
}

strong{
    cursor: pointer;
    margin-left: 7px;
    color: cyan;
    /* text-decoration: underline; */
}


input{
    font-size: 20px;
    border: none;
    background: none;
}

button{
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px;
    width: 300px;
    cursor: pointer;
    border: none;
    margin-top: 30px;
    color: white;
    background-color: rgba(0, 0, 255, 0.498);
}

.do{
    color: white;
    margin: 35px 30px;
    font-size: 17px;
    text-align: center;

    
}


button:hover{
    background-color: rgba(128, 128, 128, 0.817);
}
button:active{
    background-color:  rgba(0, 0, 255, 0.498);
    transition:.1s;
}

@media (max-width: 500px){
    .container{
        width: 60%;
        max-height: 60vh;
    }

     .number {
        width: 220px;
        height: 20px;
    }

    .number input {
        width: 200px;


    }

    .pass {
        width: 220px;
        height: 20px;

    }

    .pass input {
        width: 200px;
    }

   


    button {
        width: 250px;
        text-align: center;

    }

    .do {
        display: flex;
        font-size: 16px;
        font-weight: 800;
        justify-content: center;
    }
    

    .do a {
        font-size: 16px;
    }

    .head{
        font-size: 22px;
    }

    form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


}

