@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Baloo Bhai 2";
}

body {
    background-color: #000;
    /* background-image: url(image.png);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


}

.container {
    width: 340px;
    height: 600px;
    padding: 55px;
    background-color: #000;
    border-radius: 30px;
    background-color: #000;
    box-shadow: 0px 0px 50px blue;


}



h1 {
    position: relative;
    bottom: 20px;
    margin: 20px;
    text-align: center;
    color: white;
}


.ele {
    margin-top: 12px;
    border: 3px solid white;
    border-radius: 30px;
    padding: 20px;
    position: relative;

}

.ele label {
    position: absolute;
    font-size: 20px;
    left: 20px;
    color: white;
    pointer-events: none;
    transition: .3s;
}

.ele input {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 20px;

}

.ele input:focus+label,
.ele input:valid+label {
    top: 2px;
    font-size: 12px;
    font-weight: 600;
}


.fog {
    margin-top: 18px;


}

.fog input {
    margin-left: 30px;
    width: 15px;
    accent-color: white;


}

.fog label {
    font-size: 16px;
    color: white;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: rgb(250, 249, 249);
}

strong {
    cursor: pointer;
    margin-left: 2px;
    color: cyan;
    /* text-decoration: underline; */
}


input {
    font-size: 20px;
    border: none;
    background: none;
}

button {
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px 20px;
    margin-left: 25px;
    width: 300px;
    cursor: pointer;
    border: none;
    margin-top: 30px;
    color: white;
    background-color: rgba(0, 0, 255, 0.498);
}

.do {
    color: white;
    margin: 22px 38px;
    font-size: 17px;
    text-align: center;


}

a:hover {
    color: rgb(231, 227, 13);
}

button:hover {
    background-color: rgba(128, 128, 128, 0.817);
}

button:active {
    background-color: rgba(0, 0, 255, 0.498);
}

@media (max-width: 500px) {

    body{
        overflow: hidden;
        
    }
    .container {
        margin-bottom: 40px;
        width: 60%;
        max-height: 66vh;
    }

    .ele {
        width: 220px;
        height: 20px;
    }

    .ele input {
        width: 200px;


    }

    .ele {
        width: 220px;
        height: 20px;

    }

    .ele input {
        width: 200px;
    }

    .fog label {
        font-size: 13px;
        font-weight: 800;

        margin-left: 9px;


    }

    .fog {
        display: flex;
        margin-left: -19px;
    }

    .fog input {
        width: 12px;
        accent-color: blue;
    }


    button {
        width: 220px;
        text-align: center;

    }

    .do {

        font-size: 10px;
        font-weight: 800;
        text-align: center;
    }

    .do a {
        font-size: 12px;
    }
    form{
    display: flex;
    flex-direction: column;
    align-items: center;
}




}